.article {
  padding: 16px;
  background: white;
  opacity: 0;
  animation: fadeUp 0.75s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .article {
    padding: 48px;
  }
}
