.container {
  position: relative;
  padding: 0 8px;
}

.container.-main {
  padding: 8px;
}

/* Constrain on larger screens */
@media screen and (min-width: 976px) {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
}
