.algGrid {
  /* Just enough so you can fit two on a landscape iPhone X */
  --maxGridWidth: 692px;

  display: flex;
  flex-wrap: wrap;
  max-width: var(--maxGridWidth);
  margin: 0 auto 32px;
}

.algGrid__item {
  display: flex;
  flex-basis: calc(var(--maxGridWidth) / 2);
  align-items: center;
  margin-bottom: 8px;
}

.algGrid__item.-bld {
  align-items: normal;
}

.algGrid__id {
  flex-shrink: 0;

  /* Set flex-basis to smallest possible that can fit all ids */
  flex-basis: 16px;
  margin-left: 8px;
  text-align: right;
}

.algGrid__id.-pll {
  flex-basis: 32px;
}

.algGrid__id.-coll {
  flex-basis: 20px;
}

.algGrid__id.-bld {
  flex-basis: 72px;
}

.algGrid__algs {
  margin: 0 0 0 8px;
  padding: 0;
  font-size: var(--fontLarge);
  list-style: none;
}

.algGrid__algs.-bld {
  padding-left: 20px;
  list-style: disc;
}

.algGrid__comments {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.algPattern {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

/* F2L */
.f2lTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.f2lTile.-W {
  fill: white;
}

.f2lTile.-R {
  fill: red;
}

.f2lTile.-B {
  fill: blue;
}

.f2lTile.-Y {
  fill: yellow;
}

/* OLL */
.ollTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 4px;
}

.ollTile.-F,
.ollTile.-side {
  fill: yellow;
}

.ollTile.-side {
  stroke-width: 2px;
}

/* PLL */
.pllTile {
  fill: yellow;
  stroke: black;
  stroke-width: 4px;
}

.pllArrow {
  stroke: black;
  stroke-width: 2px;
}

/* COLL */
.collTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 4px;
}

.collTile.-W {
  fill: white;
}

.collTile.-R {
  fill: red;
}

.collTile.-B {
  fill: #00abff;
}

.collTile.-O {
  fill: orange;
}

.collTile.-G {
  fill: lawngreen;
}

.collTile.-Y {
  fill: yellow;
}

.collTile.-side {
  stroke-width: 2px;
}
