.algGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  margin: 0 auto 32px;
}

.algGrid__item {
  display: flex;
  flex-basis: 360px;
  align-items: center;
  margin-bottom: 8px;
}

.algPattern {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.f2lTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.f2lTile.-W {
  fill: white;
}

.f2lTile.-R {
  fill: red;
}

.f2lTile.-B {
  fill: blue;
}

.f2lTile.-O {
  fill: orange;
}

.f2lTile.-G {
  fill: green;
}

.f2lTile.-Y {
  fill: yellow;
}

.ollTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 4px;
}

.ollTile.-F {
  fill: yellow;
}

.ollTileSide {
  fill: yellow;
  stroke: black;
  stroke-width: 2px;
}

.alg {
  margin: 0 8px;
  font-size: var(--fontLarge);
}
