.algGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  margin: auto;
}

.algGrid__item {
  display: flex;
  flex-basis: 360px;
  align-items: center;
  margin-bottom: 8px;
}

.f2lPattern {
  width: 96px;
  height: 96px;
  margin: 0 16px;
}

.f2lTile {
  fill: lightgray;
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.f2lTile.-W {
  fill: white;
}

.f2lTile.-R {
  fill: red;
}

.f2lTile.-B {
  fill: blue;
}

.f2lTile.-O {
  fill: orange;
}

.f2lTile.-G {
  fill: green;
}

.f2lTile.-Y {
  fill: yellow;
}
