.header {
  background: white;
}

.container.-header {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.brand__logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.brand__title {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: var(--navbarHeight);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: hsl(225, 5%, 95%);
}

.navbar__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 80%;
  filter: grayscale(1);
}

.navbar__item.-active {
  filter: none;
}

.navbar__icon {
  flex-grow: 1;
  width: 24px;
  height: 24px;
}

.header__gap {
  flex-grow: 1;
}

.header__iconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  filter: grayscale(1);
}

.header__icon {
  width: 24px;
  height: 24px;
  margin: auto 8px;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .brand__title {
    margin: 0 32px 0 0;
  }

  .navbar {
    position: initial;
    width: initial;
    padding: 0;
    background-color: transparent;
  }

  .navbar__item {
    flex-direction: row;
    padding: 0 16px;
    font-size: 100%;
    text-transform: uppercase;
  }

  .navbar__item.-active {
    font-weight: bold;
  }

  .navbar__item.-hiddenTablet {
    display: none;
  }

  .navbar__icon {
    display: none;
  }

  .header__icon {
    margin: auto 12px;
  }
}
