.header {
  padding-right: var(--safeAreaInsetRight);
  padding-left: var(--safeAreaInsetLeft);
  background: white;
}

.container.-header {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.brand__logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  opacity: 0.8;
}

.brand__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--darkGray);
  font-weight: 600;
  font-size: var(--fontLarge);
}

.header__gap {
  flex-grow: 1;
}

.header__iconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  fill: var(--darkGray);
}

.header__icon {
  width: 24px;
  height: 24px;
  margin: auto 8px;
  opacity: 0.8;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .brand__logo {
    margin-left: 8px;
  }

  .brand__title {
    margin: 0 32px 0 0;
  }

  .header__icon {
    margin: auto 12px;
  }
}
