.header {
  padding-right: var(--safeAreaInsetRight);
  padding-left: var(--safeAreaInsetLeft);
  background: white;
}

.container.-header {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.brand {
  display: flex;
  align-items: center;
  height: 100%;
}

.brand__logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  opacity: 0.8;
}

.brand__title {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--darkGray);
  font-weight: 600;
  font-size: var(--fontLarge);
}

.navbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zNavbar);
  display: flex;
  height: var(--navbarHeight);
  padding-right: var(--safeAreaInsetRight);
  padding-bottom: var(--safeAreaInsetBottom);
  padding-left: var(--safeAreaInsetLeft);
  background-color: var(--navbarBackground);
}

.navbar__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: var(--darkGray);
  font-size: var(--fontXSmall);
  fill: var(--darkGray);
}

.navbar__item.-active {
  color: var(--linkColor);
  fill: var(--linkColor);
}

.navbar__icon {
  flex-grow: 1;
  width: 24px;
  height: 24px;
}

.header__gap {
  flex-grow: 1;
}

.header__iconWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  fill: var(--darkGray);
}

.header__icon {
  width: 24px;
  height: 24px;
  margin: auto 8px;
  opacity: 0.8;
}

/* Tablet or landscape phone */
@media screen and (min-width: 769px), screen and (orientation: landscape) {
  .navbar__item {
    flex-direction: row;
    justify-content: center;
  }

  .navbar__icon {
    flex-grow: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .brand__logo {
    margin-left: 8px;
  }

  .brand__title {
    margin: 0 32px 0 0;
  }

  .navbar {
    position: initial;
    width: initial;
    height: 100%;
    padding: 0;
    background-color: transparent;
  }

  .navbar__item {
    flex-direction: row;
    padding: 0 16px;
    font-size: var(--fontMedium);
    text-transform: uppercase;
  }

  .navbar__item.-active {
    font-weight: bold;
  }

  .navbar__item.-hiddenTablet {
    display: none;
  }

  .navbar__icon {
    display: none;
  }

  .header__icon {
    margin: auto 12px;
  }
}
