.main {
  /* iOS Safari typically adds 112px of toolbars */
  --mainMinHeight: calc(100vh - var(--headerHeight) - var(--navbarHeight) - 112px);

  display: flex;
  flex-direction: column;
  min-height: var(--mainMinHeight);
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .main {
    /* No toolbars */
    --mainMinHeight: calc(100vh - var(--headerHeight));
  }
}
