.tabs {
  position: fixed;
  bottom: var(--navbarHeight);
  z-index: var(--zNavbar);
  display: flex;
  width: 100%;
  height: var(--tabsHeight);
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  white-space: nowrap;
  list-style-type: none;
  background-color: var(--navbarBackground);
  box-shadow: inset 0 -1px 0 0 var(--xLightGray);
  -webkit-overflow-scrolling: touch;
}

.tabs::after {
  position: fixed;
  bottom: calc(var(--navbarHeight) + 1px);
  left: 0;
  width: 100%;
  height: calc(var(--tabsHeight) - 1px);
  background-image: linear-gradient(
    to right,
    var(--navbarBackground),
    var(--navbarBackgroundTransparent) 16px,
    var(--navbarBackgroundTransparent) calc(100vw - 16px),
    var(--navbarBackground)
  );
  pointer-events: none;
  content: '';
}

.tabs__item {
  padding-bottom: 0;
}

.tabs__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  color: var(--mediumGray);
  font-size: var(--fontSmall);
}

.tabs__link.-active {
  color: var(--linkColor);
  box-shadow: inset 0 -1px 0 0 var(--linkColor);
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .tabs {
    position: static;
    justify-content: center;
    overflow-x: visible;
    box-shadow: none;
  }

  .tabs::after {
    display: none;
  }
}
