:root {
  --footerHeight: 80px;
}

.footer {
  background-color: hsl(225, 25%, 25%);
  color: rgba(255, 255, 255, 0.8);
  height: var(--footerHeight);
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.19, 1, 0.22, 1) 0.25s forwards;
}

.footerBar {
  height: calc(var(--footerHeight) - 30px);
  display: flex;
  align-items: center;
}

.footerBar__copyright {
  padding: 10px;
}
