:root {
  --headerHeight: 50px;
}

.header {
  background: white;
  height: var(--headerHeight);
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.19, 1, 0.22, 1) 0.25s forwards;
}

.navbar {
  display: flex;
}

.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 10px;
}

.navbar__item.-brand {
  width: var(--headerHeight);
  height: var(--headerHeight);
}

.navbar__logo {
  margin-bottom: 0;
}

.navbar__gap {
  flex-grow: 1;
}
