body {
  background: hsla(225, 10%, 90%);
}

a {
  color: hsl(315, 100%, 25%);
  text-decoration: none;
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.8;
}

a:hover {
  opacity: 0.5;
}
