body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: hsl(315, 100%, 25%);
  text-decoration: none;
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: .8;
}

a:focus {
  outline: none;
  text-decoration: underline;
}

a:hover {
  opacity: .5;
}

/* Responsive helpers */

@media screen and (max-width: 768px) {
  .--hidden_lte_mobile {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .--hidden_gte_tablet {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .--hidden_lte_tablet {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .--hidden_gte_desktop {
    display: none;
  }
}

@media screen and (max-width: 1215px) {
  .--hidden_lte_desktop {
    display: none;
  }
}

@media screen and (min-width: 1216px) {
  .--hidden_gte_widescreen {
    display: none;
  }
}

@media screen and (max-width: 1407px) {
  .--hidden_lte_widescreen {
    display: none;
  }
}

@media screen and (min-width: 1408px) {
  .--hidden_gte_fullhd {
    display: none;
  }
}
