body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: hsl(315, 100%, 25%);
  text-decoration: none;
  transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: .8;
}

a:focus {
  outline: none;
  text-decoration: underline;
}

a:hover {
  opacity: .5;
}

/* Responsive helpers */

@media screen and (max-width: 768px) {
  .--hidden_mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .--hidden_tablet {
    display: none;
  }
}

@media screen and (max-width: 1216px) {
  .--hidden_desktop {
    display: none;
  }
}

@media screen and (max-width: 1408px) {
  .--hidden_widescreen {
    display: none;
  }
}
