.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--mainHeight);
  text-align: center;
}

.hero__card {
  margin: 0 8px;
  padding: 32px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeUp 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
