body {
  --headerHeight: 48px;
  --navbarHeight: 48px;
  --safeAreaInsetTop: 0px;
  --safeAreaInsetRight: 0px;
  --safeAreaInsetBottom: 0px;
  --safeAreaInsetLeft: 0px;
  --linkColor: hsl(225, 100%, 50%);
  --backgroundColor: hsl(225, 10%, 90%);
  --zNavbar: 1;

  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.25;
  background-color: var(--backgroundColor);
}

/* Browsers which partially support CSS Environment variables (iOS 11.0-11.2) */
@supports (padding-top: constant(safe-area-inset-top)) {
  body {
    --safeAreaInsetTop: constant(safe-area-inset-top);
    --safeAreaInsetRight: constant(safe-area-inset-right);
    --safeAreaInsetBottom: constant(safe-area-inset-bottom);
    --safeAreaInsetLeft: constant(safe-area-inset-left);
  }
}

/* Browsers which fully support CSS Environment variables (iOS 11.2+) */
@supports (padding-top: env(safe-area-inset-top)) {
  body {
    --safeAreaInsetTop: env(safe-area-inset-top);
    --safeAreaInsetRight: env(safe-area-inset-right);
    --safeAreaInsetBottom: env(safe-area-inset-bottom);
    --safeAreaInsetLeft: env(safe-area-inset-left);
  }
}

/* Tablet or landscape phone */
@media screen and (min-width: 769px), screen and (orientation: landscape) {
  body {
    --navbarHeight: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsla(0, 0%, 0%, 1);
  font-family: 'Source Serif Pro', serif;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  fill: var(--linkColor);
}

/* Link children should not also be tap targets */
a > * {
  pointer-events: none;
}

.link {
  display: flex;
  align-items: center;
}

.link__icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

hr {
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

/* For some reason the main Gatsby div highlights on touch in iOS Safari */
[tabindex='-1'] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex='-1'] > * {
  -webkit-tap-highlight-color: initial;
}

/* Non-touchscreen */
@media (hover: hover) {
  a:hover {
    opacity: 0.5;
  }
}
